OBSIDIAN_HOSTNAME=https://obsidian.joaocosta.dev
OBSIDIAN_DATABASE=obsidiannotes
OBSIDIAN_PASSPHRASE=notespassphrase
# if unset, will generate a random one
#OBSIDIAN_URI_PASSPHRASE=pottering-alerted-corbelling-annihilate-amusable
