[Unit]
Description=joaocosta.dev container
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/usr/local/src/website/site
ExecStartPre=-docker compose -f docker-compose.yml -f production.yml down
ExecStartPre=-docker volume rm site_app_code site_tor_socket
ExecStart=docker compose -f docker-compose.yml -f production.yml up -d --remove-orphans --build 
ExecStop=docker compose -f docker-compose.yml -f production.yml down

[Install]
WantedBy=multi-user.target
