{
	email {env.CONTACT_EMAIL}
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	#dynamic_dns {
	#	provider cloudflare {env.CLOUDFLARE_API_TOKEN}
	#	domains {
	#		joaocosta.dev
	#	}
	#	versions ipv4 ipv6
	#}
	tailscale {
		ephemeral true
	}
}

# -- public

joaocosta.dev {
	reverse_proxy website:3000
}

id.joaocosta.dev {
	reverse_proxy pocket-id:1411
}

zulip.joaocosta.dev {
	reverse_proxy http://10.0.0.24
}

croc.joaocosta.dev {
	reverse_proxy pingvin:3000
}

traccar.joaocosta.dev {
	reverse_proxy traccar:8082
}

wiki.joaocosta.dev {
  redir https://joaocostaifg.github.io/wiki/{uri} permanent
}

# --- private/tailscale

ai.tail1dfda.ts.net {
	bind tailscale/ai
	tailscale_auth
	reverse_proxy open-webui:8080
}

dns.tail1dfda.ts.net {
	bind tailscale/dns
	reverse_proxy 10.0.0.1:8080
}

dozzle.tail1dfda.ts.net {
	bind tailscale/dozzle
	tailscale_auth
	reverse_proxy dozzle:8080
}

files.tail1dfda.ts.net {
	bind tailscale/files
	tailscale_auth
	reverse_proxy 10.0.0.21:30044
}

immich.tail1dfda.ts.net {
	bind tailscale/immich
	tailscale_auth
	reverse_proxy immich-server:2283
}

joplin.tail1dfda.ts.net {
	bind tailscale/joplin
	reverse_proxy joplin:22300
}

paperless.tail1dfda.ts.net {
	bind tailscale/paperless
	tailscale_auth
	reverse_proxy paperless:8000 {
		header_down Referrer-Policy "strict-origin-when-cross-origin"
	}
}

pdf.tail1dfda.ts.net {
	bind tailscale/pdf
	tailscale_auth
	reverse_proxy pdf:8080
}

tail.tail1dfda.ts.net {
	bind tailscale/tail
	tailscale_auth
	reverse_proxy heimdall:80
}

vaultwarden.tail1dfda.ts.net {
	bind tailscale/vaultwarden
	tailscale_auth
	reverse_proxy /admin/* vaultwarden:80
	reverse_proxy /notifications/hub/negotiate/* vaultwarden:80
	reverse_proxy /notifications/hub/* vaultwarden:3012
	reverse_proxy /* vaultwarden:80
}

searxng.tail1dfda.ts.net {
	bind tailscale/searxng
	tailscale_auth
	reverse_proxy searxng:8080
}

crafty.tail1dfda.ts.net {
	bind tailscale/crafty
	tailscale_auth
	reverse_proxy https://crafty:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

dynmap.tail1dfda.ts.net {
	bind tailscale/dynmap
	tailscale_auth
	reverse_proxy crafty:8123
}
