@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply text-foreground-900;
  }

  .dark h1,
  .dark h2,
  .dark h3,
  .dark h4,
  .dark h5,
  .dark h6 {
    @apply text-foreground-100;
  }

  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a {
    @apply underline;
    @apply underline-offset-2;
    @apply decoration-primary-500;
  }

  h1 > a:hover,
  h2 > a:hover,
  h3 > a:hover,
  h4 > a:hover,
  h5 > a:hover,
  h6 > a:hover {
    @apply decoration-2;
  }

  .dark h1 > a,
  .dark h2 > a,
  .dark h3 > a,
  .dark h4 > a,
  .dark h5 > a,
  .dark h6 > a {
    @apply decoration-primary-600;
  }

  h1 {
    @apply text-3xl;
    @apply mb-4;
  }

  h2 {
    @apply text-xl;
    @apply mb-2;
  }

  h3 {
    @apply text-lg;
    @apply mb-1;
  }

  /* >> markdown style */
  h1::before {
    content: "# ";
  }

  h2::before {
    content: "## ";
  }

  h3::before {
    content: "### ";
  }

  h4::before {
    content: "#### ";
  }

  h5::before {
    content: "##### ";
  }

  h6::before {
    content: "###### ";
  }

  em::before {
    content: "_";
  }

  em::after {
    content: "_";
  }

  b::before {
    content: "**";
  }

  b::after {
    content: "**";
  }
  /* << markdown style */
}

@layer components {
  .btn {
    @apply rounded-full;
    @apply text-white;
    @apply font-semibold;
    @apply text-sm;
    @apply shadow-sm;
    @apply px-4;
    @apply py-1;
  }

  .btn:hover {
    @apply underline;
    @apply underline-offset-2;
  }

  .icon-btn {
    @apply btn;
    @apply py-3;
  }

  /* >> button primary colors */
  .btn-primary {
    @apply bg-primary-500;
  }

  .btn-primary:hover {
    @apply hover:bg-primary-400;
  }

  .dark .btn-primary {
    @apply bg-primary-600;
  }

  .dark .btn-primary:hover {
    @apply bg-primary-700;
  }
  /* << button primary colors */

  /* >> button edit colors */
  .btn-edit {
    @apply bg-yellow-600;
  }

  .btn-edit:hover {
    @apply bg-yellow-500;
  }

  .dark .btn-edit {
    @apply bg-yellow-500;
  }

  .dark .btn-edit:hover {
    @apply hover:bg-yellow-600;
  }
  /* << button edit colors */

  .anchor {
    @apply underline;
    @apply underline-offset-2;
    @apply decoration-primary-500;
  }

  .anchor:hover {
    @apply decoration-2;
  }

  .dark anchor {
    @apply decoration-primary-600;
  }
}
