src/cache
src/data
src/vendor
src/node_module
src/fontawesome_subsetter.mjs
## tailwindcss is built inside the image
src/resources/css/style.css

wiki/conf
wiki/data
wiki/lib/plugins
wiki/lib/tpl
wiki/.editorconfig
wiki/.git**
wiki/README
wiki/SECURITY.md
