# main
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/.env.backup
src/.phpunit.result.cache
src/npm-debug.log
src/yarn-error.log

# wiki
wiki/conf
wiki/data
wiki/lib/plugins
wiki/lib/tpl
wiki/.editorconfig
wiki/.git**
wiki/README
wiki/SECURITY.md
