# main
src/node_modules
src/storage/*.key
src/vendor
src/.env.backup
src/.phpunit.result.cache
src/npm-debug.log
src/yarn-error.log
## tailwindcss is built inside the image
#src/resources/css/style.css
## rollup
#src/dist/

# wiki
wiki/conf
wiki/data
wiki/lib/plugins
wiki/lib/tpl
wiki/.editorconfig
wiki/.git**
wiki/README
wiki/SECURITY.md
