# main
src/data/
!src/data/storage/img/
## composer
src/cache/
src/composer.phar
src/vendor/
src/node_modules/
## tailwindcss
src/resources/css/style.css
## fontawesome
src/resources/webfonts/
src/resources/css/fontawesome.css
## rollup
src/dist/

# wiki
wiki/conf
wiki/data
wiki/lib/plugins
wiki/lib/tpl
