:root {
  --fonts: Helvetica, Arial, sans-serif;
  --background: #121212;
  --background2: #191919;
  --background3: #1e1e1e;
  --foreground: #e2e2e2;
  --foreground2: #a9a9a9;
  --primary: #a6dfa0;
  --primary2: #b3cfb0;
  --primary3: #99ef90;
  --secondary: #dfbca0;
  --success: #8cff80;
  --danger: #cf6679;
  --warning: #ffc15e;
  --info: #38aecc;
}

/* || HEADER */
#header-container {
  border-bottom: 0.3em solid #dfbca0; /* var(--secondary) */
}

#brand {
  display: inline-block;
  margin: 0px;
}

#brand a:hover {
  text-decoration: none;
  color: #99ef90; /* var(--primary3) */
}

#navbar-dropdown-btn {
  display: none;
}

.navbar-dropdown-label {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 3em;
  height: 2em;
  position: relative;
  top: -0.5em;
  font-size: inherit;
}

@media (min-width: 1000px) {
  #header-container {
    margin-top: 2rem;
  }

  #brand {
    margin-right: 1rem;
    font-size: 160%;
  }

  .navbar-dropdown-label {
    display: none;
  }
}

@media (max-width: 999px) {
  .navbar-dropdown-label::before {
    content: "\2630";
  }

  #navbar-dropdown-btn:checked + .navbar-dropdown-label::before {
    content: "\2715";
  }
}

/* || NAVBAR */
.menu {
  list-style: none;
  margin: 0px;
  font-size: 1.5rem;
}

.menu-item {
  margin: 0px;
}

.menu-item > a {
  display: block;
  padding: 0.4em 0.6em 0.4em;
}

.menu-item > a:hover {
  background-color: #1e1e1e; /* var(--background3) */
}

.menu-item img {
  height: 1.5rem;
}

@media (min-width: 1000px) {
  #navbar {
    display: inline-block;
  }

  .menu {
    display: inline-block;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-item > a {
    border-radius: 0.5em 0.5em 0px 0px;
  }

  .menu-right {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 999px) {
  #navbar-dropdown-btn:checked ~ #navbar {
    display: block;
  }

  #navbar {
    display: none;
    background-color: #191919; /* var(--background2) */
  }

  .menu {
    display: block;
  }

  .menu-item a {
    border: 0.1em solid #191919; /* var(--background2) */
  }

  .menu-item a:hover {
    border: 0.1em solid #b3cfb0; /* var(--primary2) */
  }

  .menu-item img {
    vertical-align: middle;
  }

  .menu-item-icon {
    display: inline-block;
  }

  .menu-right {
    margin: 0px;
  }
}

/* || CONTAINER */
#main-container {
  padding: 1em 20px 1em; /* the 20px came from skeleton's container class */
  background-color: #1e1e1e; /* var(--background3) */
  border-radius: 0px 0px 0.5em 0.5em;
  border-top: 0.3em solid #a6dfa0; /* var(--primary) */
}

/* || BLOGS */
.blog-entry > a {
  display: block;
  padding: 1em;
  border-radius: 1em;
  max-width: 40rem;
  box-sizing: border-box;
}

.blog-entry-title {
  color: #a6dfa0; /* var(--primary); */
}

.blog-entry > a:hover > .blog-entry-title {
  color: #99ef90; /* var(--primary3); */
}

/* || PROJS */
#projs-container {
  text-align: center;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  justify-content: center;
  margin-bottom: 3rem;
}

.proj-entry {
  display: inline-block;
  position: relative;
  padding: 2em;
  border-radius: 1em;
  box-sizing: border-box;
}

.proj-edit-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4em; /* edit is 4 letters */
}

.proj-entry h3 {
  overflow-wrap: break-word;
}

.proj-entry > img {
  height: 10em;
  width: auto;
}

/* || UTILS */
.a-unstyled {
  text-decoration: none;
  color: inherit;
}

.a-unstyled:hover {
  text-decoration: none;
  color: inherit;
}

.list-unstyled {
  list-style: none;
}

.hoverable-bg {
  background-color: #121212; /* var(--background) */
}

.hoverable-bg:hover {
  background-color: #191919; /* var(--background2) */
}
