:root {
  --fonts: Helvetica, Arial, sans-serif;
  --background: #121212;
  --foreground: #e2e2e2;
  --gray1: #191919;
  --gray2: #1e1e1e;
  --primary: #a6dfa0;
  --primary2: #b3cfb0;
  --primary3: #99ef90;
  --secondary: #dfbca0;
  --success: #8cff80;
  --danger: #cf6679;
  --warning: #ffc15e;
  --info: #38aecc;
}

#brand {
  display: inline-block;
  margin: 0px;
  margin-right: 1rem;
  padding-top: 2rem;
  font-size: 160%;
}

#brand a:hover {
  text-decoration: none;
  color: var(--primary3);
}

/* || NAVBAR */
.menu {
  list-style: none;
  margin: 0px;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  #navbar {
    display: inline-block;
  }

  #navbar-dropdown-btn {
    display: none;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-item > a {
    border-radius: 0.5em 0.5em 0px 0px;
  }

  .menu-right {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 1000px) {
  #navbar {
    display: none;
  }

  .menu-right {
    margin: 0px;
  }
}

#navbar-dropdown-btn:focus ~ #navbar {
  display: initial;
}

#navbar-dropdown-btn {
 padding: 0;
}

.menu-item {
  margin: 0px;
}

.menu-item > a {
  display: block;
  padding: 0.4em 0.6em 0.4em;
}

.menu-item > a:hover {
  background-color: var(--gray2);
}

.menu-item img {
  height: 1.5rem;
}

#header-container {
  border-bottom: 0.3em solid var(--secondary);
}

/* || CONTAINER */
#main-container {
  padding: 1em 2em 1em;
  background-color: var(--gray2);
  border-radius: 0px 0px 0.5em 0.5em;
  border-top: 0.3em solid var(--primary);
}
