:root {
  --fonts: Helvetica, Arial, sans-serif;
  --background: #121212;
  --foreground: #e2e2e2;
  --gray1: #191919;
  --gray2: #1e1e1e;
  --primary: #a6dfa0;
  --primary2: #b3cfb0;
  --primary3: #99ef90;
  --secondary: #dfbca0;
  --success: #8cff80;
  --danger: #cf6679;
  --warning: #ffc15e;
  --info: #38aecc;
}

/* || BODY */
html,
body {
  font-family: var(--fonts);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* || ANCHOR/BUTTON */
a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
  color: var(--primary);
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: var(--gray1);
  background-color: var(--primary);
  border-color: var(--primary);
  text-decoration: none;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--gray1);
  background-color: var(--primary3);
  border-color: var(--primary3);
  text-decoration: none;
}

/* || FORM */
input,
textarea {
  color: var(--background);
}

/* || NAVBAR */
.menu {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding-top: 2rem;
  font-size: 1.5rem;
}

@media (min-width: 750px) {
  .menu-right {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 750px) {
  .menu-right {
    margin: 0px;
  }
}

.menu-item {
  display: inline-block;
  margin-bottom: 0px;
}

.menu-item > a {
  display: block;
  padding: 0.4em 0.6em 0.4em;
  border-radius: 0.5em 0.5em 0px 0px;
}

.menu-item > a:hover {
  background-color: var(--gray2);
}

.menu-item img {
  height: 1.5rem;
}

#menu-line {
  margin: 0px;
  border-top: 0.3em solid var(--secondary);
  border-bottom: 0.3em solid var(--primary);
}

#brand {
  margin: 0px;
  font-size: 160%;
  margin-right: 1em;
}

#brand a:hover {
  text-decoration: none;
  color: var(--primary3);
}

/* || CONTAINER */
#main-container {
  padding: 1em 2em 1em;
  background-color: var(--gray2);
  border-radius: 0px 0px 0.5em 0.5em;
}
