use-auth-secret
static-auth-secret={{ turnserver_secret }}
no-cli
realm=turn.joaocosta.dev
listening-port=3478
tls-listening-port=5349
min-port=49152
max-port=49452

# DISABLED TLS FOR NOW

# TLS certificates, including intermediate certs.
# For Let's Encrypt certificates, use `fullchain.pem` here.
#cert=/path/to/fullchain.pem

# TLS private key file
#pkey=/path/to/privkey.pem

# Ensure the configuration lines that disable TLS/DTLS are commented-out or removed
no-tls
no-dtls
