{
  "cloudflare": [
    {
      "authentication": {
        "api_token": "{{ cloudflare_api_key }}"
      },
      "zone_name": "joaocosta.dev",
      "subdomains": [
        ""
      ],
      "proxied": true
    }
  ],
  "IPv4": true,
  "IPv6": true
}
