{
	email {env.CONTACT_EMAIL}
	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

joaocosta.dev {
	reverse_proxy php:8000
}

www.joaocosta.dev {
	redir https://joaocosta.dev{uri} permanent
}

wiki.joaocosta.dev {
	redir https://joaocostaifg.github.io/wiki
}

croc.joaocosta.dev {
	reverse_proxy pingvin:3000
}

ha.joaocosta.dev {
	reverse_proxy 10.0.0.22:8123
}

chat.joaocosta.dev,
groups.chat.joaocosta.dev,
share.chat.joaocosta.dev {
	reverse_proxy 10.0.0.20:5080
}

joplin.joaocosta.dev {
	reverse_proxy joplin:22300
}

# --- tailscale

languagetool.joaocosta.dev {
	tailscale_auth
	reverse_proxy languagetool:8010
}

vaultwarden.joaocosta.dev {
	tailscale_auth
	reverse_proxy /admin/* vaultwarden:80
	reverse_proxy /notifications/hub/negotiate/* vaultwarden:80
	reverse_proxy /notifications/hub/* vaultwarden:3012
	reverse_proxy /* vaultwarden:80
}

tail.joaocosta.dev {
	tailscale_auth
	reverse_proxy heimdall:80
}

pdf.joaocosta.dev {
	tailscale_auth
	reverse_proxy pdf:8080
}

paperless.joaocosta.dev {
	tailscale_auth
	reverse_proxy paperless:8000 {
		header_down Referrer-Policy "strict-origin-when-cross-origin"
	}
}

immich.joaocosta.dev {
	tailscale_auth
	reverse_proxy 10.0.0.21:30041
}

dozzle.joaocosta.dev {
	tailscale_auth
	reverse_proxy dozzle:8080
}

